<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="css/blog-post.css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='/css/style.css') }}">

    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='images/header.jpg') }}"> -->

</head>

<body>
    <!-- Navigation -->
    <div class='navbar-container'>
        <nav class="navbar">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="font-family: 'Helvetica'">the Simpsonian
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/how_it_works">How It Works</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>


    <!-- Page Content -->
    <div class="content-container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Stacked Models and a Filtering Recommender</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="/contact">Benjamin Siverly</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on June 14, 2017 at 5:31 PM</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="https://chattr.com.au/wp-content/uploads/2016/09/the_simpsons_couch_a_l.jpg" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead"></p>
                <p>Where does my 'Predicted Rating' come from?</p>
                <p>In my initial exploration of the data I noticed three things that helped direct my decision. The first was how inconsitent the data was. As you could imagine, there were not linear features to be found this set; the breakdown of features to IMDB rating wasn't clearly correlated in any cases. The second was that in order for the results to be interpretable, it would be a good idea to avoid NLP. NLP lends itself nicely to unsupervised learning such as clustering, but isn't the best when you wanted to pull out the features leading to different results - especially when dimensionality reduction such as PCA is done on it. The third thing led me to choose a stacked model. Any given model, whether tuned to perfection or run out-of-the-box, led to an error metric (RMSE) of greater than 0.45. Short of running the model through a Neural Network, a well-tuned stacked model would be able to leverage the most accurate standalone model to get something more accurate.</p>
                <p>How do Stacked Models work?</p>
                <p>Stacking (also known as meta ensembling) is an ensemble modeling technique used to combine information from multiple predictive models to generate a new, better model. Often times the stacked model (or 2nd-level model) will outperform each of the individual models due its smoothing nature and the ability to highlight each base model where it performs best and discredit each base model where it performs poorly. </p>
                <p>For my stacked model I chose to use AdaBoost for the initial model, and Gradient Boosting for the 2nd-level model. Both of these are sequentially built Decision trees that aim to minimize a loss function by weighting incorrect predictions. Gradient Boosting does so by taking a step in the negative direction of the gradient (which is a fancy way of saying it tries to reduce the error  to zero by going back and rebuilding itself while emphasizing certain data points). This model of stacking two models together resulted in a RMSE of .351, meaning my predicted IMDB ratings were off on average by .351 on a 0 to 10 scale.</p>
                <p></p>
                <p></p>
                <p>The recommender I built is different from many people have seen before. I did not use linear distance metrics, since the metrics it would be compared to are engineered from the words, characters and content within the episode scripts. For this reason I wanted to work on what is called the 'cold-start' problem. When a user is new to software, it is hard to recommend anything useful without having the user add inormation. This is why many sites now link with Google or Facebook (you though they did that for simplicity?). Mine would take the users prefrences for characters and locations as well as if they have any affinity for musical episodes or politically charged episodes. It then goes on to crawl each episode's scripts and create features for the set of parameters the user inputted, and outputs the top-rated episode meeting their requirements. </p>
                <p>This web application was built using Flask and Python, and is hosted on AWS with models, data and a self-built hash table with the results stored in a S3 bucket. </p>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; BGS OpenSource llc.</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
